rules/pql1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="task" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="commands">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="command" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="criteria">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="criterion" type="xs:string" maxOccurs="unbounded"/>
                  </xs-sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>